<template>
    <Layout>
        <h1 class="text-break">{{$page.customPage.title}}</h1>
        <p v-html="$page.customPage.content" class="text-break"></p>
    </Layout>
</template>

<page-query>
    query CustomPage ($id: ID!) {
        customPage: customPage(id: $id) {
            title
            description
            content
        }
    }
</page-query>

<script>
    export default {
        name: 'CustomPage',
        metaInfo () {
            return {
                title: this.$page.customPage.title,
                meta: [
                    {
                        name: 'description',
                        content: this.$page.customPage.description
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>