<template>
    <Layout>
        <h1>{{$page.project.title}}</h1>
        <h5>Created in {{$page.project.yearCreated}}</h5>
        <div class="mt-3">
            <g-link v-for="tag in $page.project.tags" :key="tag.id" :to="tag.path" class="mr-2">
                <span>#</span>{{ tag.title }}
            </g-link>
        </div>
        <div class="mt-2">
            <fa-icon class="mr-2" icon="code-branch"></fa-icon> <a :href="$page.project.repositoryUrl">{{$page.project.repositoryUrl}}</a>
        </div>
        <div class="mt-2" v-if="$page.project.projectUrl">
            <fa-icon class="mr-2" icon="globe"></fa-icon> <a :href="$page.project.projectUrl">{{$page.project.projectUrl}}</a>
        </div>
        <div class="mt-3" v-html="$page.project.content"></div>
        <div v-if="$page.project.screenshot">
            <h3 class="mt-5">Screenshot</h3>
            <g-image class="screenshot mb-5" :src="$page.project.screenshot" :alt="$page.project.title"></g-image>
        </div>
    </Layout>
</template>

<page-query>
    query Project ($id: ID!) {
        project: project(id: $id) {
            title
            path
            screenshot
            yearCreated
            description
            projectUrl
            repositoryUrl
            content
            tags {
                id
                title
                path
            }
        }
    }
</page-query>

<script>
    export default {
        name: "Project.vue",
        metaInfo () {
            return {
                title: this.$page.project.title,
                meta: [
                    {
                        name: 'description',
                        content: this.$page.project.description
                    }
                ]
            }
        }
    }
</script>

<style scoped>
    .screenshot {
        width: 100%;
    }
</style>