<template>
    <Layout>
        <h1 class="mb-3"># {{ $page.tag.title }}</h1>
        <div>
            <ProjectCard v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :project="edge.node"/>
        </div>
    </Layout>
</template>
<page-query>
    query Tag ($id: ID!) {
        tag (id: $id) {
            title
            belongsTo(sortBy: "title", order: ASC) {
                edges {
                    node {
                        ...on Project {
                            title
                            path
                            yearCreated
                            screenshot
                            description
                            projectUrl
                            repositoryUrl
                            content
                        }
                    }
                }
            }
        }
    }
</page-query>

<script>
    import ProjectCard from "../components/ProjectCard";
    export default {
        name: "Tag",
        components: {ProjectCard},
        metaInfo () {
            return {
                title: `#${this.$page.tag.title}`
            };
        }
    }
</script>

<style scoped>

</style>