<template>
  <Layout>
    <h1 class="mb-3">Projects</h1>
    <ProjectCard v-for="edge in $page.projects.edges" :project="edge.node" :key="edge.node.id"></ProjectCard>
  </Layout>
</template>

<page-query>
  query {
    projects: allProject(sortBy: "title", order: ASC) {
      edges {
        node {
          id
          title
          yearCreated
          screenshot
          description
          projectUrl
          repositoryUrl
          path
          tags {
            id
            title
            path
          }
        }
      }
    }
  }
</page-query>


<script>
import ProjectCard from "../components/ProjectCard";
export default {
  components: {ProjectCard},
  metaInfo: {
    title: 'Home'
  }
}
</script>

<style>

</style>
