<template>
    <div class="card mb-3">
        <div class="card-body">
            <g-link :to="project.path">
                <g-image v-if="project.screenshot" class="card-img-top" :src="project.screenshot"  :alt="project.title" width="1068"/>
            </g-link>
            <h2 class="card-title mt-2">
                <g-link :to="project.path">{{project.title}}</g-link>
            </h2>
            <div class="card-text">
                <p>{{project.description}}</p>
            </div>
            <div>
                <g-link class="card-link" v-for="tag in project.tags" :key="tag.id" :to="tag.path">
                    <span>#</span>{{ tag.title }}
                </g-link>
            </div>
            <div class="mt-2">
                <fa-icon class="mr-2" icon="code-branch"></fa-icon> <a class="card-link" :href="project.repositoryUrl">{{project.repositoryUrl}}</a>
            </div>
            <div class="mt-2" v-if="project.projectUrl">
                <fa-icon class="mr-2" icon="globe"></fa-icon> <a class="card-link" :href="project.projectUrl">{{project.projectUrl}}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProjectCard",
        props: ['project']
    }
</script>

<style scoped>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        object-position: 0 0;
    }
</style>