<template>
  <div class="layout">
    <header>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <div class="container">
          <b-navbar-brand to="/" router-component-name="g-link">{{ $static.metadata.siteName }}</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <g-link class="nav-link" to="/" exact>Projects</g-link>
              </li>
              <li class="nav-item">
                <g-link class="nav-link" to="/about/" exact>About</g-link>
              </li>
            </ul>
          </b-collapse>
        </div>
      </b-navbar>
    </header>

    <div class="container cs-content">
      <slot/>
    </div>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
.cs-content {
  margin-top: 20px;
}
</style>
